/* OSU Palette
  -----------
  Warm Gray: #C6C0B7
  Intermediate Gray: #ABADA4
  DArk gray/BROWN: #615042
  OSU Orange: #D85A1A
  Brown: #9D601E
  Light Blue: #A7C4C9
  DArk Blue: #6B859E
  Yellow: #F3D08E
  Green: #B3BA35
  Turqoise: #56IF4B  
*/
/* Colors */
/*background and h1 headers currently*/
html {
  background-color: #350608;
  border-top: 4px solid #d85a1a; }

body {
  background: #350608;
  font-family: Verdana, Helvetica, Arial;
  font-size: 80%; }

#footer {
  border-top: 4px solid #d85a1a;
  color: #f1f1f1;
  padding: 2em; }

#content {
  background-color: #f1f1f1;
  padding: .5em 1.5em;
  overflow: auto;
  color: #333;
  margin: 0 2em 1.5em 2em;
  -moz-border-radius: 8px;
  border-radius: 8px; }

p {
  margin-bottom: .8em; }

a, a:visited {
  color: #d85a1a;
  border-bottom: 1px dotted #D85A1A;
  text-decoration: none; }

a:hover {
  color: #f1f1f1;
  border-bottom: 1px solid #D85A1A;
  background-color: #d85a1a; }

p + ul {
  margin-top: -0.5em; }

a:hover {
  text-decoration: none; }

em {
  font-style: italic; }

strong {
  font-weight: bold; }

th {
  color: #e1e1e1;
  background-color: #978e43; }

/* Headers */
h1, h2, h3, h4, h5 {
  font-weight: bold;
  margin-bottom: .5em; }

#articles > div, #tweets > div {
  border-top: 1px dotted #978e43;
  padding-top: 1em;
  margin: auto;
  background-color: #e1e1e1; }

#articles h2 + div, #tweets h2 + div {
  border-top: 0; }

#content > div > div {
  padding: .7em; }

#content > div > div > div {
  padding: .5em; }

#articles {
  background-color: #978e43;
  -moz-border-radius: 8px;
  border-radius: 8px; }

#articles h2 {
  color: #f1f1f1;
  background-color: #978e43; }

h2 a, h2 a:visited {
  color: #f1f1f1; }

#tweets {
  background-color: #350608;
  -moz-border-radius: 8px;
  border-radius: 8px; }

#tweets h2 {
  color: #f1f1f1;
  background-color: #350608; }

h2 {
  margin-top: 10px; }

h3 {
  margin-bottom: 0; }

h1 {
  font-size: 150%;
  color: #f1f1f1;
  padding: .5em 2em; }

h2, h4 {
  color: #350608; }

#hd h1 {
  color: #e1e1e1;
  margin-top: .3em; }

h2 {
  font-size: 135%; }

h3, h5 {
  color: #D85A1A; }

h3 {
  font-size: 120%; }

h4, h5 {
  font-size: 105%%; }

/* end headers */
/* Lists */
li {
  list-style-type: disc;
  margin-left: 2.2em; }

/* Floats and others */
.text-right {
  text-align: right; }

.float-left {
  float: left; }

.float-right {
  float: right; }

div.date {
  font-style: italic;
  font-size: 70%;
  color: #666;
  margin-bottom: 5px; }

/* end floats and others */
/* Tables */
table {
  margin-bottom: 1em;
  border: 1px solid #615042;
  border-collapse: separate; }

caption {
  font-weight: bold;
  font-size: 105%;
  background-color: #615042;
  color: #f1f1f1;
  padding: .4em 1em; }

thead {
  background-color: #6B859E;
  color: #f1f1f1; }

tbody {
  background-color: #fff; }

tfoot {
  background-color: #6B859E;
  color: #f1f1f1; }

th {
  padding: .4em 1em;
  font-weight: bold;
  font-size: 95%; }

td {
  padding: .3em .9em; }

td + td, th + th {
  border-left: 1px solid #615042; }

tfoot tr td {
  border-top: 1px solid #615042; }

tr:nth-child(even) {
  background-color: #DEDAD4; }

th.sortable a, th.sorted a {
  display: block;
  color: #fff;
  padding-right: 1em;
  background: url("images/run.png") center right no-repeat; }

th.sorted a {
  background: url("images/down_arrow.png") center right no-repeat; }

/* end tables */
